body {
  background: #1c2336;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #e6f1ff;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.card-suite {
  font-size: 3em;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.3;
}

/* test */
.glass-card {
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  padding: 20px;
  width: 25%;
  margin: 20px;
  text-align: center;
  position: relative;
  transition: transform 1s;
}

.glass-card h1, .glass-card h2 {
  margin: 0;
}

.glass-card p {
  margin: 10px 0;
}
